.header {
    border-bottom: 4px solid rgb(221, 255, 255);
    padding: 20px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 760px) {
        flex-direction: column;   
    }
}

.header__menu {

    @media (max-width: 760px) {
        margin-top: 20px;
        margin-bottom: 30px;  
    }
}

.header__link {
    margin: 0 15px;

    &.active {
        color: #615dfa;
        border-bottom: 1px solid #615dfa;
        padding-bottom: 3px;
    }
}

.header__buttons {
    display: flex;
    align-items: center;

   .button {
        &:first-child {
            margin-right: 10px;
        }
    }
}
